@page
@using YD.Lib

@{
    ViewData["Title"] = "待載清單";
}

<div class="text-center">
    <h1 class="display-4">目前待載清單</h1>
</div>
<hr/>
@foreach (var item in LoadSong.LoadList())
{
    @if(item.name == "") {
        @("")
    }else{
        @(item.name)
        <hr/>
    };
}


