@page
@using YD.Lib
@using Newtonsoft.Json

@{
    ViewData["Title"] = "youtube列表新增歌單";
}

<div class="text-center">
    <h1 class="display-4">youtube列表網址新增歌單</h1>
</div>
<hr/>

Youtube列表<input type="text" name='url' id='url' style="width: 70%;"/>
<input type="submit" onclick="postaddlistsong()" value="新增此列表">


@section Scripts{
<script language="javascript">
    function postaddlistsong() {
        var data =  $("#url").val();
        var url = "UrlList";
        var re = new RegExp('list');
        //if (re.exec( $("#url").val() )){
            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : JSON.stringify(data),
                function(resp) {
                    if(resp){
                        alert("新增成功");
                    }
                }
            });
        //}else{
        //    alert("請用有清單的網址");
        //}
    }
</script>
}