@page
@using YD.Lib
@using Newtonsoft.Json

@{
    ViewData["Title"] = "youtube列表新增歌單";
}

<div class="text-center">
    <h1 class="display-4">youtube歌曲網址新增歌單，會自動排除重復的</h1>
</div>
<hr/>
Youtube列表 每一格打網址 打完確認(舉例：https://www.youtube.com/watch?v=s-CcFyyPJiY)
<form id="song" name="song">
@for (int i = 0; i < 20; i++)
{
    <input type="text" name='url@(i)' id='url@(i)' style="width: 100%;"/>
}
<input type="button" onclick="postaddlistsong()" value="新增這些歌">
</form>


@section Scripts{
<script language="javascript">
    function postaddlistsong() {
        var data = $("#song").serializeArray();
        var url = "Url";
        $.ajax({
            url : url,
            type : "POST",
            contentType : "application/json",
            data : JSON.stringify(data),
            success : function(resp) {
                if (resp.success){
                    alert("歌單新增成功");
                    window.location.href="index";

                }else{
                    alert("歌單新增失敗");
                    window.location.href="SaveSong";
                }
            }
        });
    }

    $(document).keyup(function(event) {
        if (event.keyCode == 13) {
            postaddlistsong()
        }
    });
</script>
}